__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.env
venv/
.venv/
*.log

# Secrets and Local Overrides
.env*
key.txt

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
